{% extends 'layout.html' %}

<!--
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">GymBud</h1>
      <p>This is a website to find local Gyms near you</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Search Gym</a></p> 
    
    </div>
  </div>
 -->
{% block body %}
  <div class="jumbotron text-center">
    <h1><span style="color:#000000">Gym</span><span style="color:#ffbf00">Bud</span></h1>
    <p class="lead">This is a website to help you on your road to become healthier by connecting you with local gyms.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
