<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
<link rel="stylesheet" href="/static/layout.css?q=1280549780" media="screen" charset="utf-8" />
</head>
<title>My App</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

