<!doctype html>
<title lang ="en"> Welcome to my APP</title>
<head>

<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css?q=1280549780" media="screen" charset="utf-8" />
</head>
<body>
<h1 class ="PageTitle"> GymBud</h1>
<img src="https://www.brainhq.com/sites/default/files/images/phys-ex-01.png" alt="gym"class="logo">

{% if name %}
  <h1>Local Gym Finder: {{ name }}</h1>
{% else %}
  <h3>Dedicated to find a gym near you </h3>
{% endif %}
</body>
