{% extends 'base.html' %}


{% block body %}
  <div class="jumbotron text-center">
    <h1><span style="color:#000000">Gym</span><span style="color:#ffbf00">Bud</span></h1>
     <p class="lead">This is a website to help you on your road to become healthier by connecting you with local gyms.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div> 
{% endblock %}
