{% extends "newMock_login_base.html" %}

{% block body %}

        <form class='form-horizontal' method="post">

        {{ form.csrf_token }}

        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.username.errors %}
                    <ul class='errors'>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
        </ul>
                {% endif %}
                {{ form.username(class='form-control',placeholder='username') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.password.errors %}
                    <ul class='errors'>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{
                form.password(class='form-control',placeholder='password') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {% if form.password2.errors %}
                    <ul class='errors'>
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.password2(class='form-control',placeholder='confirm password') }}
            </div>
        </div>
        <div class='form-group'>
            <div class='col-md-6'>
                {{ form.submit(class='btn btn-primary btn-block') }}
            </div>
        </div>
        </form>


{% for item in list %}

    <div class="row">
      <div class="col-md-4 h2">{{ item }}</div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>

{% endfor %}

{% endblock %}

